<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

Place mouse in jail for security
<div id='mouseJail' >
 Jail
</div>

<div class="booth">
  <video id="video" width="400" height="300"></video>
  <canvas id="canvas" width="400" height="300"> </canvas>
</div>

<script type="text/javascript" src="/javascripts/mainPage.js"></script>